* {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-weight: 300;
}

.wrapper {
  display: flex;
  width: 90%;
  height: 60vh;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 20vh 5%;
  /* background: red; */
}

.time-wrapper {
  /* width: 140px; */
  display: flex;
  justify-content: center;
}

:not(input) {
  user-select: none;
}

.spacer {
  /* width: 5px; */
}

.spacer,
input {
  font-size: 40px;
}

input {
  line-height: 40px;
  width: 50px;
  border: none;
  overflow: hidden;
  /* background: red; */
  background: transparent;
  text-align: center;
}

.not-allowed {
  cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

.round-button {
  border-radius: 1000px;
  width: 33px;
  height: 33px;
  padding-top: 3px;
  padding-left: 3px;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.round-button > img {
  position: absolute;
  width: 27px;
  padding: 3px;
  border-radius: 1000px;
  box-shadow: 0 4px 12px 0px #888;
  transition-duration: 200ms;
}

.invis {
  opacity: 0;
  z-index: -1;
}

.wrapper-break {
  /* background-color: red; */
  display: flex;
  width: 90%;
  height: 60vh;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: 20vh 5%;
  flex-direction: column;
}

.button-row {
  padding-top: 10px;
  display: flex;
  /* background: red; */
  width: 130px;
  justify-content: space-between;
}

.large-button {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  padding-top: 0;
  padding-left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
}

.large-button > img {
  position: initial;
  padding: 8px;
}

.round-button > img:hover {
  /* padding: 7px; */
  box-shadow: 0 2px 6px 0px #666;
}

#sound-toggle {
  background: red;
  width: 20px;
  height: 20px;
}
#sound-off,
#sound-on {
  /* position: absolute; */
  width: 15px;
  cursor: pointer;
  /* background: red; */
}

.hide-sound {
  display: none;
}
